# Proxy Settings (remove if not needed)
HTTP_PROXY=http://172.17.0.1:3128
HTTPS_PROXY=http://172.17.0.1:3128

# Neo4J Database (defaults to the Kubernetes internal service)
NEO4J_CONNECTION_URL=neo4j://neo4j.playground.svc.cluster.local:7687
# When running locally, use the following line instead:
# $(hostname -I | awk '{print $1}')
# NEO4J_CONNECTION_URL=bolt://172.18.0.1:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=12345678

# OpenAI API Key
OPENAI_API_KEY=sk-1234567890
